Package: sem.voigtlander.xpcsploit
Name: xpcsploit
Description: An awesome application!
Maintainer: Sem
Author: Sem
Section: Utilities
Architecture: iphoneos-arm
Version: 0.0.1-42+debug
Installed-Size: 200
